.boton-dos {
  font-family: "Quicksand", sans-serif;
  background-color: #ee82ac;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 12px;
  transition: all 0.8s ease;
  cursor: pointer;
}

.boton-dos:hover {
  background-color: #ffffff;
  color: #ee82ac;
  transform: scale(2s);
}

.boton-banner-dos {
  text-align: center;
}

header {
  background-color: #9f113a;
}

header h1 {
  color: #ffe6f0;
  font-family: "Great Vibes", cursive, cursive;
  font-size: 70px !important;
  margin-top: 10px;
  margin-right: 20px;
  font-weight: bold;
}

header nav ul {
  background-color: #9f113a !important;
}

header nav ul li a {
  color: #ffffff !important;
  font-size: 25px !important;
  font-family: "Quicksand", sans-serif;
}

/** hover de los navlinks **/
.nav-link {
  color: #ffffff;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-link:hover {
  color: #fcb8d2;
  text-shadow: 0 0 8px #fcb8d2;
}

.nav-link:not(.dropdown-toggle)::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fcb8d2;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:not(.dropdown-toggle):hover::after {
  width: 100%;
}

.dropdown-menu a {
  border-radius: 8px;
  padding: 8px 12px;
}

.dropdown-menu a:hover {
  background-color: #fcb8d2;
  color: #915e6c;
  transition: 0.7s ease;
}

.piedepagina {
  background-color: #9f113a;
  color: #ffe6f0;
  padding: 40px 20px;
  font-family: "Quicksand", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-left,
.footer-right {
  flex: 1 1 45%;
  min-width: 280px;
}

.footer-left h3,
.footer-right h3 {
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
}

.footer-left p,
.footer-right p {
  font-size: 16px;
  color: #ffe6f0;
  margin-bottom: 10px;
}

.links-footer {
  font-size: 14px;
  color: aqua;
}

.links-footer a {
  color: #a7ddf2;
  text-decoration: none;
  margin: 0 5px;
}

.links-footer a:hover {
  text-decoration: underline;
}

/* links a redes sociales */
.iconos-bs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.iconos-bs a {
  font-size: 2rem;
  color: #ffe6f0;
  background-color: #ee82ac;
  border-radius: 12px;
  padding: 10px;
  transition: transform 0.2s ease;
}

.iconos-bs a:hover {
  transform: scale(1.1);
}

.contenedorbanner {
  padding-top: 300px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  height: 900px;
  color: #ffffff;
  background-image: url(/contenedorimages/banner1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenedorbanner h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  padding-left: 80px;
}

.contenedorbanner p {
  font-size: 35px;
  padding-bottom: 15px;
  text-align: left;
  padding-left: 80px;
}

.banner-dos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.textobanner {
  border: 4px solid #9f113a;
  padding: 20px;
  max-width: 600px;
  color: #9f113a;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.textobanner h3 {
  font-weight: bold;
  font-size: 35px;
}

.textobanner h1 {
  font-size: 80px;
  color: #ee82ac;
  text-decoration: underline;
}

.textobanner h2 {
  font-size: 75px;
}

.textohistoria {
  text-align: center;
  color: #ffffff;
  background-color: #9f113a;
  max-width: 600px;
  padding: 20px;
  font-family: "Quicksand", sans-serif;
}

.textohistoria h3 {
  font-size: 35px;
}

.textohistoria p {
  font-size: 20px;
}

/** logo debajo del banner **/
.yomaid img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

/** boton debajo del baner **/
.boton-dos {
  font-family: "Quicksand", sans-serif;
  background-color: #ee82ac;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 12px;
  transition: all 0.8s ease;
  cursor: pointer;
}/*# sourceMappingURL=estilos.css.map */