.piedepagina {
    background-color: $color-principal;
    color: $color-claro;
    padding: 40px 20px;
    font-family: $font-principal;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-left,
.footer-right {
    flex: 1 1 45%;
    min-width: 280px;
}

.footer-left h3,
.footer-right h3 {
    font-family: $font-cursiva;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
}

.footer-left p,
.footer-right p {
    font-size: 16px;
    color: $color-claro;
    margin-bottom: 10px;
}

.links-footer {
    font-size: 14px;
    color: aqua;
}

.links-footer a {
    color: #a7ddf2;
    text-decoration: none;
    margin: 0 5px;
}

.links-footer a:hover {
    text-decoration: underline;
}

