// baner hinata

.contenedorbannerhinata {
  @extend %estilo-banner-contenedor;
}

.contenedorbannerhinata h2 {
  @extend %estilo-banner-h2;
  color: #1e1b2e;
}

.contenedorbannerhinata p {
  @extend %estilo-banner-p;
  @include texto-banner(#3d2a56);;
}

//navbar hinata

.pagina-hinata {
  background-color: #1e1b2e;
  color: $blanco;
}

.pagina-hinata .navbar {
  background-color: #2a2140 !important;
}

.pagina-hinata .navbar-brand h1 {
  font-family: $font-cursiva;
  color: #c79eff;
  font-size: 2rem;
}

.pagina-hinata nav ul {
  background-color: #2a2140 !important;
}

.pagina-hinata .nav-link {
  color: #ffd6f9 !important;
}

.pagina-hinata .nav-link:hover,
.pagina-hinata .dropdown-item:hover {
  color: $blanco !important;
  background-color: #3d2a56;
}

/* Cards pagina HINATA */
.pagina-hinata .card {
  background-color: #2a2a3c;
  color: #fcefff;
  border: none;
}

.pagina-hinata .card-title {
  color: #ffe6fb;
}

.pagina-hinata .card-text em {
  color: #ddb3ff;
}

.pagina-hinata strong {
  color: #ffc8ec;
}

//footer hinata

.pagina-hinata .piedepagina {
  background-color: #2a2140;
  color: #ffd6f9;
  padding: 2rem;
}

.pagina-hinata .piedepagina h3 {
  color: $blanco;
}

.pagina-hinata .piedepagina a {
  color: #c79eff;
  text-decoration: none;
}

.pagina-hinata .piedepagina a:hover {
  color: $blanco;
  text-decoration: underline;
}

.pagina-hinata .iconos-bs a {
  color: #ffc8ec;
  margin-right: 1rem;
  font-size: 1.5rem;
}

//banner sakura

.contenedorbannersakura {
  @extend %estilo-banner-contenedor;
}

.contenedorbannersakura h2 {
  @extend %estilo-banner-h2;
  color: #2c1a1e;
}

.contenedorbannersakura p {
  @extend %estilo-banner-p;
  @include texto-banner(#5a2c34);
}

//navbar sakura

.pagina-sakura {
  background-color: #2c1a1e;
  color: #fff3f6;
}

.pagina-sakura .navbar {
  background-color: #3e2026 !important;
}

.pagina-sakura .navbar-brand h1 {
  font-family: $font-cursiva;
  color: #ffb6c1;
  font-size: 2rem;
}

.pagina-sakura nav ul {
  background-color: #3e2026 !important;
}

.pagina-sakura .nav-link {
  color: #ffdbe5 !important;
}

.pagina-sakura .nav-link:hover,
.pagina-sakura .dropdown-item:hover {
  color: $blanco !important;
  background-color: #5a2c34;
}

// Cards maids sakura

.pagina-sakura .card {
  background-color: #43282c;
  color: #ffeef3;
  border: none;
}

.pagina-sakura .card-title {
  color: #ffc3d6;
}

.pagina-sakura .card-text em {
  color: #ffadc2;
}

.pagina-sakura strong {
  color: #ffb6c1;
}

//pie de pagina sakura

.pagina-sakura .piedepagina {
  background-color: #3e2026;
  color: #ffdbe5;
  padding: 2rem;
}

.pagina-sakura .piedepagina h3 {
  color: $blanco;
}

.pagina-sakura .piedepagina a {
  color: #ffa6bc;
  text-decoration: none;
}

.pagina-sakura .piedepagina a:hover {
  color: $blanco;
  text-decoration: underline;
}

.pagina-sakura .iconos-bs a {
  color: #ffb6c1;
  margin-right: 1rem;
  font-size: 1.5rem;
}

//pagina tsunade

.contenedorbannertsunade {
  @extend %estilo-banner-contenedor;
}

.contenedorbannertsunade h2 {
  @extend %estilo-banner-h2;
  color: #1f2a23;
}

.contenedorbannertsunade p {
  @extend %estilo-banner-p;
  color: #2b3a30;
}

// navbar tsunade

.pagina-tsunade {
  background-color: #1f2a23;
  color: #f8fff4;
}

.pagina-tsunade .navbar {
  background-color: #2d3c33 !important;
}

.pagina-tsunade .navbar-brand h1 {
  font-family: $font-cursiva;
  color: #a9ffcb;
  font-size: 2rem;
}

.pagina-tsunade nav ul {
  background-color: #2d3c33 !important;
}

.pagina-tsunade .nav-link {
  color: #caffdd !important;
}

.pagina-tsunade .nav-link:hover,
.pagina-tsunade .dropdown-item:hover {
  color: $blanco !important;
  background-color: #3a4d42;
}

// cards de tsunade
.pagina-tsunade .card {
  background-color: #2b3a30;
  color: #f0fff6;
  border: none;
}

.pagina-tsunade .card-title {
  color: #adffd1;
}

.pagina-tsunade .card-text em {
  color: #b9ffe0;
}

.pagina-tsunade strong {
  color: #c4ffdf;
}

//pie de pagina tsunade

.pagina-tsunade .piedepagina {
  background-color: #2d3c33;
  color: #caffdd;
  padding: 2rem;
}

.pagina-tsunade .piedepagina h3 {
  color: $blanco;
}

.pagina-tsunade .piedepagina a {
  color: #a9ffcb;
  text-decoration: none;
}

.pagina-tsunade .piedepagina a:hover {
  color: $blanco;
  text-decoration: underline;
}

.pagina-tsunade .iconos-bs a {
  color: #b9ffe0;
  margin-right: 1rem;
  font-size: 1.5rem;
}