
// colores base

$blanco: #ffffff;
$negro: #000000;

$font-principal: 'Quicksand', sans-serif;
$font-cursiva: 'Great Vibes', cursive;

$color-principal: #9f113a;
$color-secundario: #ee82ac;
$color-claro: #ffe6f0;
$color-hover: #fcb8d2;


//tipografias base

$font-principal: 'Quicksand', sans-serif;
$font-cursiva: 'Great Vibes', cursive;
$transition-general: all 1s ease;


// mixin para animaciones suaves

@mixin transicion-suave {
  transition: $transition-general;
}

// mixin para texto alineado

@mixin texto-banner($color) {
  color: $color;
}


// mixin para fondos de banners

@mixin fondo-banner($url) {
  background-image: url($url);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

//
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

// links a redes sociales 
.iconos-bs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.iconos-bs a {
    font-size: 2rem;
    color: $color-claro;
    background-color: $color-secundario;
    border-radius: 12px;
    padding: 10px;
    transition: transform 0.2s ease;
}

.iconos-bs a:hover {
    transform: scale(1.1);
}


// card maids 

.card-img-top {
  object-fit: contain;
  border-radius: 20px 20px 0 0;
  display: block;
  @include transicion-suave;
}

.card-img-top:hover {
    transform: translateY(-30px) scale(1.25);
}

.seccion-maids {
  background: transparent !important;
  padding: 3rem 0;
  font-family: $font-principal;
}



// extend para maids 

%estilo-banner-contenedor {
  padding-top: 300px;
  text-align: center;
  font-family: $font-principal;
  height: 900px;
  color: $blanco;
}

%estilo-banner-h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  padding-left: 80px;
}

%estilo-banner-p {
  font-size: 30px;
  padding-bottom: 15px;
  text-align: left;
  padding-left: 80px;
  font-weight: bold;
}
