// colores base

$blanco: #ffffff;
$negro: #000000;

$font-principal: 'Quicksand', sans-serif;
$font-cursiva: 'Great Vibes', cursive;

$color-principal: #9f113a;
$color-secundario: #ee82ac;
$color-claro: #ffe6f0;
$color-hover: #fcb8d2;


//tipografias base

$font-principal: 'Quicksand', sans-serif;
$font-cursiva: 'Great Vibes', cursive;
$transition-general: all 1s ease;

// extend para maids 

%estilo-banner-contenedor {
  padding-top: 300px;
  text-align: center;
  font-family: $font-principal;
  height: 900px;
  color: $blanco;
}

%estilo-banner-h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  padding-left: 80px;
}

%estilo-banner-p {
  font-size: 30px;
  padding-bottom: 15px;
  text-align: left;
  padding-left: 80px;
  font-weight: bold;
}

// mixin para animaciones suaves

@mixin transicion-suave {
  transition: $transition-general;
}

// mixin para texto alineado

@mixin texto-banner($color) {
  color: $color;
}


// mixin para fondos de banners

@mixin fondo-banner($url) {
  background-image: url($url);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

//
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; // Esto hace que el contenido crezca y empuje el footer abajo
}