// colores base

$blanco: #ffffff;
$negro: #000000;

$font-principal: 'Quicksand', sans-serif;
$font-cursiva: 'Great Vibes', cursive;

$color-principal: #9f113a;
$color-secundario: #ee82ac;
$color-claro: #ffe6f0;
$color-hover: #fcb8d2;


//tipografias base

$font-principal: 'Quicksand', sans-serif;
$font-cursiva: 'Great Vibes', cursive;


