
// links a redes sociales 
.iconos-bs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.iconos-bs a {
    font-size: 2rem;
    color: $color-claro;
    background-color: $color-secundario;
    border-radius: 12px;
    padding: 10px;
    transition: transform 0.2s ease;
}

.iconos-bs a:hover {
    transform: scale(1.1);
}


// card maids 

.card-img-top {
  height: 700px !important;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
  display: block;
}

.seccion-maids {
  background: transparent !important;
  padding: 3rem 0;
  font-family: $font-principal;
}

// fondos

.fondohina {
  background-image: url(/contenedorimages/bannerhinata.png);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ffc0cb;
}


.fondosaku {
  background-image: url(/contenedorimages/bannersakura.png);
  background-size: cover;
  max-width: 100% auto;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ffc0cb; 
}

.fondolady {
  background-image: url(/contenedorimages/bannerlady.png);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ffc0cb; 
}