.boton-dos {
    font-family: 'Quicksand', sans-serif;
    background-color: #ee82ac;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 12px;
    transition: all 0.8s ease;
    cursor: pointer;
}

.boton-dos:hover {
    background-color: #ffffff;
    color: #ee82ac;
    transform: scale(2s);


}

.boton-banner-dos {
    text-align: center;
}
